@import "tailwindcss";

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@theme {
    /* Brand colors */
    --color-brand-bg: #111111;
    --color-brand-green: #0C392D;
    --color-brand-green-soft: #164636;
    --color-brand-gold: #C8A96B;
    --color-brand-cream: #F5F2E8;

    /* Utility color */
    --color-fg: #0C392D;

    /* Radius & shadow untuk pill navbar */
    --radius-pill: 999px;
    --shadow-pill: 0 10px 40px rgba(0, 0, 0, 0.85);


}